body {
    background-color: lightgray;
    font-family: 'Staatliches', cursive;
    margin: 70px;
}

body h1 {
    font-size: 35px;
}

header {
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  border-style: solid;
}

dl {
    border: 2px solid;
  border-radius: 8px;
}

#icons {
    text-align: center;
}

h2#about, h2#historic, h2#projects {
    border-style: dotted;
}

h2 {
    text-align: center;
    font-style: normal;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    border-style: solid;
}
