body {
    background-color: lightgray;
    font-family: 'Staatliches', cursive;
    margin: 70px;
}

body h1 {
    font-size: 35px;
}

header {
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 35px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
}